section {
    padding-bottom: 4rem;
    padding-top: 4rem;
}
body {
    background-color: black;
    font-family: 'Rajdhani', sans-serif;
}
p {
    color: ghostwhite;
    font-size: 1.3rem;
}
h1 {
    color: purple;
}
h5 {
    font-weight: bolder;
    font-size: 1.4rem;
    font-style: oblique;
}
.col p {
    color:black;
    font-weight: bolder;
    font-size: 1.2rem;   
}
.col-md-5 {
    padding: 1rem;
    align-content: center;
}
.btn-success {
    background-color: purple;
    color: ghostwhite;
    border-color: black;  
}
button.btn-lg.btn-success {
    background-color: black;
    color: ghostwhite;
    border-color: black;
}
.btn-primary {
    background-color: darkviolet;
    border-color: black;
}
button.btn-secondary {
    color: whitesmoke;
    background-color: darkviolet;

}
a.btn-success:hover {
    background-color: rgb(250, 53, 250);
    color: black;
}
a.btn-primary:hover {
    background-color: black;
    color:whitesmoke;
    border-color: purple;
}
button.btn-lg.btn-success:hover {
    background-color: ghostwhite;
    color: black;
}
.nav-link {
    font-size: 1.2rem;
    color: ghostwhite;
}
#sobre img {
    border-radius: 50%;
}
input,
textarea {
    margin-bottom: 1rem;
}
.card {
    width: 80%;
    float: left;
    margin: 20px;
    border: 1px solid black;
    background-color: lavender; 
}
.card img {
    margin: 3px;  
}
section#contato, h2{
    background-color: rgb(163, 26, 163);
    color: black;
    font-weight: bolder;
}